@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap');

:root{
    --font-family:'Barlow', sans-serif;
    --cor--primaria:#A9907E;
    --background--: #F3DEBA;
}

body{
    background-color: var(--background--);
    color: var(--cor--primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size:3em;

}

h3{
    font-size: 1.5em;
    margin-top: 20px;
}

.mensagem{
font-size: 1.5em;
margin-top: 40px;
}
.box{
    border: 2px solid  var(--cor--primaria);
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar{
    padding: 8px 15px;
    border: none;
    background-color: var(--cor--primaria);
    border-radius: 5px;
    margin-top: 20px;
}